@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  background-color: #E8EBF1;
  margin-top: 90px;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  color: green;
}

.top {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 90px;
  background-color: #ffffff;
  line-height: 90px;
  z-index: 1;
}

.top:after {
  content: "";
  display: table;
  clear: both;
}

.top .logo {
  vertical-align: middle;
  margin: 20px;
}

.top img.logo {
  height: 60px;
}

.top .menu_left {
  width: 20%;
  float: left;
}

.top .menu_right {
  width: 80%;
  float: right;
  text-align: right;
}

.top li {
  list-style: none;
  display: inline;
  padding: 0 40px;
}

.card_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.card_wrap .card {
  min-width: 283px;
  width: 45%;
  align-content: center;
  padding: 10px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 5px -3px #adadad;
}

.card_wrap .card img {
  height: 100px;
  border-radius: 5%;
}

.card_wrap .card p {
  margin-top: 20px;
}

.card_wrap .card_top {
  display: flex;
}

.card_wrap .card_top_info {
  padding: 10px;
}

.card_wrap .card_top_info h3 {
  padding-bottom: 10px;
}

